.card-border-right {
		background-color: #cccccc;
		width: 800px;
		height: 250px;
		margin-left: 400px;
		margin-top: 150px;
		border: 1px solid #e6e6e6;
		transition: all 0.5s;
	}
	.card-border-left {
		background-color: #cccccc;
		width: 800px;
		height: 250px;
		margin-left: 150px;
		margin-top: 150px;
		border: 1px solid #e6e6e6;
		transition: all 0.5s;
	}
	.card-border-left:hover , .card-border-right:hover{
		transform: scale(1.2);
	}
	.name-R {
		margin-left: 500px;
		font-size: 25px;
	}