#navbar{
    background-color: #aaa;
}
#SignUp-div{
    margin: auto;
    background-color: #ccc;
    border-radius: 5px;
}
#brand{
    margin-left: 50px;
}

#home-btn{
    margin-left: 750px;
}
.card {
		margin-top: 70px;
		margin-left: 100px;
		width: 650px;
		height: 250px;
		background: #f2f2f2;
	}
	.img-pr {
		width: 135px;
		height: 135px;
		border-radius: 50%;
		margin-left: 5px;
		margin-top: 5px;
		background-color: red;
	}
	.text-prname {
		margin-top: 10px;
		margin-left: 35px;
	}
	.name-th {
		position: absolute;
		left: 300px;
		top: 20px;
	}
	.text-th {
		position: absolute;
		left: 300px;
		top: 60px;
	}
	.profil-card {
		position: fixed;
		left: 900px;
		top: 100px;
		width: 350px;
		height: 400px;
		background-color: #f2f2f2;
		border: 1px solid #d5d5d5;	
		border-radius: 5px;	
	}
	.profil-img {
		border-radius: 50%;
		width: 75px;
		height: 75px;
		background-color: blue;
		position: absolute;
		left: -15px;
		top: -15px;
	}
	.btn-outline-dark:hover {
		color: #fff;
		background-color: #aaa;
	}